

.App {
  background-color: #232e40;
  font-family: 'Tahoma';
}

.personalDetails {
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:40px;
  background-color: white;
}

.section {
  padding-left: 50px;
  padding-right: 50px;
  
  color: white;
}

.subsection {
  padding-bottom: 10px;
}


.subtitle {
  font-weight: bold;
}


.container {
  display: flex;
  align-items: center;
  
}

.child {
  margin: 30px;
  
}

.fa {
  color: black;
}